:root {
  
  /* stylelint-disable value-keyword-case */
  --typeface__headline: 'filson-soft', sans-serif;
  --typeface__display: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;;
  --typeface__copy: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;;
  /* stylelint-enable value-keyword-case */

  font-size: 16px;
  line-height: 1.5;
  font-family: var(--typeface__display);

  @media (--large) {
    font-size: 17px;
  }

  @media (--extra-large) {
    font-size: 18px;
  }
}
