
:root {
  --color__background: #ffffff;
  --color__text-base: #222;
  --color__accent: #6A00DE;
  --color__secondary: #6A00DE;
  --color__third: #c1c1c1;
  --color__peter: #d6aaa8;

  --color__background--bitch: #ffffff;
  --color__text-base--bitch: #222;
  --color__accent--bitch: #fc2aa4;
  --color__secondary--bitch: #ff6d9c;
  --color__third--bitch: #c1c1c1;
  --color__peter--bitch: #ff8faa;
}
