.Header {
  background-color: #fff;
  color: #000;
  padding-top: 1lh;
  padding-bottom: 0.5lh;

  &__container {
    display: flex;
    flex-direction: column;

    @media (--small) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__logo {
    display: block;
    width: 140px;
    text-decoration: none;
  }

  &__logo-container {
    display: block;
  }

  &__nav {
    margin-left: auto;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding-left: 2rem;
    font-size: 1.4rem;
  }

  &__menu-item {
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  &__menu-link {
    text-decoration: none;
    color: var(--color__secondary);
    &:hover {
      border-bottom: 2px solid var(--color__secondary);
    }
  }

  &__tagline {
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    color: gray;
    text-decoration: none;
    display: block;
    margin-top: -0.3rem;
    margin-left: -0.3rem;

    &--desktop {
      display: none;

      @media (--small) {
        display: block;
      }
    }

    @media (--small) {
      &--mobile {
        display: none;
      }
    }
  }
}
