@keyframes pluse {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
  }
}

.LoadingIndicator {
  left: 0;
  position: fixed;
  right: 0;
  top: 200px;
  width: 100%;

  &__type {
    animation: 2s linear 0 infinite pluse;
    color: var(--color__accent);
    display: block;
    font-family: sans-serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    width: 60px;
  }
}
