.Footer {
  margin-top: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: var(--color__accent);
  color: #ffffff;

  & a {
    color: #ffffff;
  }

  &__logo {
    width: 200px;
    margin-bottom: 0.5rem;
  }

  &__tag {
    font-size: 0.9rem;
  }

  &__disclaimer {
    margin-left: 1rem;
  }
}
