.Header {
  background: linear-gradient(135deg, #b26eff 0%,#24004c 100%);
  color: #000;
  padding-bottom: 0.75rem;
  padding-top: 100%;
  transform: rotate(-3deg);
  margin-top: -100%;
  padding-left: 100%;
  padding-right: 100%;
  margin-right: -100%;
  margin-left: -100%;
  margin-bottom: 3rem;

  &__container {
    display: flex;
    flex-direction: column;

    @media (--small) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__logo {
    display: block;
    width: 140px;
    text-decoration: none;
    margin: 0 auto;
    transform: rotate(3deg);

    & svg {
      width: 100%;
      height: auto;
    }
  }

  &__logo-container {
    display: block;
  }

  &__nav {
    align-self: center;
    bottom: -60px;
    position: relative;
    @media (--medium) {
      margin-left: auto;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 1.1rem;
    margin-bottom: -2rem;

    @media (--medium) {
      font-size: 1.4rem;
      padding-left: 2rem;
    }
  }

  &__menu-item {
    display: block;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  &__menu-link {
    text-decoration: none;
    color: #777;
    &:hover {
      border-bottom: 2px solid var(--color__secondary);
    }
  }

  &__tagline {
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    display: block;
    margin-top: -0.3rem;
    margin-left: -0.3rem;
    text-align: center;

    &--desktop {
      display: none;

      @media (--small) {
        display: block;
      }
    }

    @media (--small) {
      &--mobile {
        display: none;
      }
    }
  }
}

.Header--bitch .Header {
  background: linear-gradient(135deg, #e23ddf 0%,#040404 100%);
  &__logo {
    color: #fff;
  }
}
