.Content {
  box-sizing: border-box;
  padding-top: ms(2) rem;

  &__metadata {
    color: var(--color__peter);
    display: none;
    font-weight: 500;
  }

  &__metadata-m {
    display: block;
    color: var(--color__peter);
    font-weight: 500;
  }

  @media screen and (min-width: 880px) {
    display: flex;

    &__body {
      flex: 1 1 auto;
    }

    &__metadata-m {
      display: none;
    }

    &__metadata {
      display: block;
      border-right: 1px solid #e0e0e0;
      width: 160px;
    }

    &__metadata-list {
      & dt {
        display: inline;
        font-size: ms(-1)rem;
        text-transform: uppercase;
        padding-right: ms(-1)rem;
      }

      & dd {
        display: inline;
        margin: 0;
      }

      & dt, & dd {
        display: block;
      }

      & dt + dd {
        margin-bottom: ms(1)rem;
      }
    }
  }

}
