@keyframes pluse {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0.1;
  }
}

.LoadingIndicator {
  left: 0;
  position: fixed;
  right: 0;
  top: 200px;
  width: 100%;

  &__indicator {
    animation: 2s linear 0 infinite pluse;
    display: block;
    margin: 0 auto;
    width: 60px;
  }
}
