.ImageBlock {
  max-width: 1000px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;

  &__meta {
    font-size: 0.8em;
    padding-top: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    color: var(--color__secondary);
    display: flex;
  }

  &__caption {
    font-style: italic;
    margin-right: auto;
    display: block;
  }

  &__credit {
    display: block;
    font-size: 0.9em;
  }
}
