.TextBlock {
  & blockquote {
    font-style: italic;
    background: rgba(110, 77, 42, 0.1);
    box-sizing: border-box;
    padding: 0.8em 0.8em 0.8em 1.6em;
    margin-left: 0;
    margin-right: 0;

    & p:last-child {
      margin-bottom: 0;
    }
  }

  & hr {
    max-width: 30%;
    border: 0;
    border-bottom: 2px solid rgba(110, 77, 42);
    margin-bottom: 2.5em;
    margin-top: 2.5em;
  }
}
